body {
   background-image:url("http://www.clubedeexperiencias.com.br/static/admin/images/gallery/destinos/black-39844.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:contain;

  text-align:center;
}


.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 25px;
  left: 0px;
   height: 900px;
    width: 1900px;
}
.image2 {
  position: fixed;
  top: 10px;
  left: 180px;
  height: 900px;
  width: 2300px;
}


* {
				
				color: #ffffff;
				text-align: center;}
			body {
				width: 90%;
				margin: 0 auto;}
			#content {
				overflow: auto;}

			#nav, #feature, #footer {
				margin: 1%;}
h1{
 color: #ffffff; 
}

			.column1 {
			  background-color: #d9d9d9;
				width: 31.3%;
        height: 5cm;
				float: left;
				margin: 1%;}
			.column3 {
				margin-right: 0%;}

       .column2{
			  background-color: #444444;
				width: 31.3%;
         height: 5cm;
				float: left;
				margin: 1%;}

       .column3 {
			  background-color: #ffffff;
				width: 31.3%;
         height: 5cm;
				float: left;
				margin: 1%;}
			.column3 {
				margin-right: 0%;}
		

			li {
				display: inline;
				padding: 0.5em;}
			#nav, #footer {
				background-color: #000000;
				padding: 0.5em 0;}z

			#feature{
				height: 10em;
				margin-bottom: 1em;
				background-color: #4b2e83;}

     
h2 ,h1, a{ 
   font-family: 'JelleeRoman'; 
   font-weight: normal; 
   font-style: normal; 
}
}


